.gradle/
build/
**/build/
**/release/
!gradle/wrapper/gradle-wrapper.jar

.idea/
*.iml
*.kotlin_module
captures/

local.properties

.externalNativeBuild/
.cxx/

*.keystore
*.jks
*.keystore.properties

.DS_Store
Thumbs.db

*.log
